/*----- GENERAL STYLES -----*/

.productLeftColumn {
    display: inline-block;
}

img {
    background-color: #CAC9C9;
}



/*----- MOBILE STYLES -----*/

@media only screen and (max-width: 480px){
				
/*////// RESET STYLES //////*/
    
td[id="eventContainer"], td[id="ruleContainer"], td[id="productContainer"] {
    padding-right:20px !important; 
    padding-left:20px !important;
}
				
table[id="eventBlock"], table[id="ruleBlock"], table[id="productBlock"], {
    max-width:480px !important; 
    width:100% !important;
}
				
/*////// CLIENT-SPECIFIC STYLES //////*/
				
body {width:100% !important; min-width:100% !important;} /* Force iOS Mail to render the email at full width. */
				
/*////// GENERAL STYLES //////*/
    
				
img[id="heroImage"] {height:auto !important; max-width:520px !important; width:100% !important;}

				
td[class="productLeftColumn"] {display: inline-block !important; width:100% !important;}
    

			}

@media only screen and (max-width: 480px){

/*////// RESET STYLES //////*/
    
td[id="eventContainer"], td[id="ruleContainer"], td[id="productContainer"] {
    padding-right:5px !important; 
    padding-left:5px !important;
}
    
/*////// GENERAL STYLES //////*/
    img[class="image"]{width:154px !important; height:194px !important;}
    
}